<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #b61dd1ef;">
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a routerLink="todos" routerLinkActive="active" class="nav-link"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></a>
        </li>
        <li class="navbar-item">
            <a routerLink="add" routerLinkActive="active" class="nav-link"><h4>AddTask</h4></a>
        </li>
       

    </ul>
    
</nav>

<div class="container">
   <router-outlet></router-outlet>
</div> 

<!-- <footer class="footer">
    <div class="container">
        <span>karthik</span>

    </div>

    
</footer> -->
